<template>
  <div id="app">
    <app-header></app-header>
    <router-view></router-view>
  </div>
</template>

<script>

  // import Head from './components/header/Head'
  // import Player from './components/Player'
  // import DetailPlayer from './components/DetailPlayer'
  // export default {
  //   components: {
  //     Head, Player, DetailPlayer
  //   }
  // }

  import AppHeader from './components/containers/Header/Header'

export default {
  name:'App',
  components: {
   AppHeader
  }
}
</script>

<style lang="scss">

@import './stylesheets/_reset.scss';
@import './stylesheets/_common.scss';
</style>
